.case-study {
  background-color: $white-gray;
  padding-bottom: 130px;


  p {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    color: $advantages-gray;
  }

  .case-study__devider {
    @include devider($advantages-gray);
  }

  .case-study__title {
    font-size: 36px;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    color: $advantages-title;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 100px;

  }

  .case-study__block {
    display: flex;
    align-items: center;
    margin-top: 60px;
  }

  .case-study__left {
    flex-basis: 665px;
    position: relative;
    z-index: 1;
  }

  .case-study__right {

    img {
      margin-left: -80px;
    }

  }
}
